@import '../01subAtoms/colors';
@import '../01subAtoms/fontFamily';
@import '../01subAtoms/fontSize';

h1{
    color: $black;
    font-size: $f4;
    font-weight: 700;
    margin-bottom: .5em;
    line-height: .8em;
    
    & + p{
        font-size: $f4;
        font-weight: 400;
    }
}

h2{
    color: $black;
    font-size: $f3;
    font-weight: 400;
    margin-bottom: .5em;
    line-height: .8em;
    text-align: center;
}

h3{
    color: $grey;
    font-size: $f3;
    font-weight: 200;
    text-align: center;   
    margin-bottom: .5em; 
}

a{
    color: $black;
    font-size: $f1;
    text-decoration: none;
    
    &:hover{
        color: $grey;
    }
    :active{
        color: $white;
        background-color: $black;
    }
    :focus{
        color: $white;
        background-color: $accent;
    }
}

p, li {
    font-size: $f1;
    color: $black;
    line-height: 1.6em;
}
li {
    font-size: $f1;
    color: $grey;
    line-height: 1.3em;
}

.services {
    &__hero::before {
        content: '[';
        color: $accent;
        font-size: $f4;
    }
    &__hero::after {
        content: ']';
        color: $accent;
        font-size: $f4;
    }
}

blockquote{
    color: $black;
    font-size: $f2;
    font-style: italic;
    margin-bottom: .5em;
    ::before{
        content: '"';
    }
    ::after{
        content: '"';
    }
}
