button{
    padding: .5em 1.5em .5em 1.5em;
    border: none;
    border-radius: 5px;
    font-size: $f3;
    color: $white;
    transition: $transitionDuration;
    :hover{
        color: $grey;
    }
    :active{
        color: $accent;
        background-color: $grey;
    }
    :focus{
        color: $accent;
        background-color: $black;
    }
}