button{
    padding: .5em 1em .5em 1em;
    border: none;
    border-radius: 5px;
    font-size: $f15;
    color: $white;
    background-color: $accent;
    transition: $transitionDuration;
    :hover{
        color: $grey;
    }
    :active{
        color: $accent;
        background-color: $grey;
    }
    :focus{
        color: $accent;
        background-color: $black;
    }
}