@import '_colorCalculator';

$black:             hsl($hue, 0%, 36%);
$grey:              hsla($hue, 0%, 36%, .75);
$grey2:             hsla($hue, 0%, 36%, .87);
$white:            white;
$accent:          hsl(29, 100%, 50%);
$accent2:          hsla(29, 100%, 70%, 1);