@import '../07animations/animations';
@import 'uebermich';


/* HERO */


.hero{
    height: 100vh - header;
    outline: 1px solid red;
    display: flex;
    flex-direction: column;

    &__logo{
        width: $imgBig;
        margin-bottom: 7.5vh;
    }
    
    &__services{
        padding: .5em 1em;
        line-height: 1.3em;
        margin-top: 10vh;
    }

    &__btn{
        margin-top: 2vh;
        margin-bottom: 3vh;
    }

  /*   &__icon {
        margin-top: 15vh;
    } */
}

/* SERVICES */

.services {
    
    height: 100vh;

    &__title{
        font-size: 2.7rem;
        font-style: italic;
        margin-top: 10vh;
    }

    &__quote{
        margin: .9em 0;
        font-size: $f2;
        color: $black;
        position: relative;
    }

    &__btn{
        margin-top: 3vh;
    }

    &__icon {
        margin-top: 3.5vh;
    }
}


.quotes__container{
    margin-top: 2vh;
}


/* PORTFOLIO */

.portfolio__title {
    margin-top: 7vh;
}

/* ABOUT ME */


.aboutMe {
    display: flex;
    justify-content: space-between;

    &__title {
        margin-top: 5vh;
        color: $accent;
    }


    &__img-container{
        height: 35vh;
        width: 35vw;
        margin: 0 8vw 0 2vw;
        grid-area: img;
    }

    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &__img-txt {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 2vw;
        max-width: 35vw;
        text-align: right;
    }
}

#about__img-txt--1 {
    font-size: $f2;
    color: $grey;
    font-weight: 100;
}
#about__img-txt--2 {
    font-size: $f3;
    color: $accent;
    
    line-height: .8em;
    margin: .25em 0 .75em;
}
#about__img-txt--3 {
    font-size: $f1;
    color: $grey;
    margin-bottom: 0;
    font-weight: 100;
}
#about__img-txt--4 {
    font-size: $f2;
    color: $accent;
    padding-top: 0;
}

.focus {

    &__title {
        margin: 1em 0 .75em;
    }

    &__list { 
        display: flex;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1em;
    }

    &__card-title{
        color: $white;
        background-color: $accent;
        padding: 0 1em;
        margin: 1em 0;
    }

    &__txt {
        color: $black;
        text-align: center;
    }
}


.skills {
    position: relative;
    margin-top: 7.5vh;
    left: -6vw;
    width: 80vw;
    background: url(../../img/cafe-muster.svg);
    background-size: cover;

    &__title {
        width: max-content;
        display: block;
        font-size: $f2;
        margin-bottom: 1em;
        margin-left: 3vw;
        text-align: left;
        background-color: $white;
        margin-top: 1em;
    }

    &__item {
        background-color: $white;
    }

    &__btn {
        margin-bottom: 2vh;
    }

    &__container {
        display: flex;
        width: 80vw;
        margin-left: 2vw;
    }

    &__portrait {
        width: 20vw;
        height: 40vh;
        object-fit: cover;
        margin-left: 20vw;
        position: relative;
        top: -7vh;
    }
}


/* CONTACT */

.contact {

    height: 80vh;

    &__title{
        margin: 0 0 10vh;
    }

    &__link{
        display: block;
        margin: 1.2em 0;
    }

    &__txt{
        color: $black;
    }
}


#icon__envelope::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0e0";
    margin-right: 1.2em;
}

#icon__phone::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f3cd";
    margin-right: 1.6em;
}

#icon__office::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\e066";
    margin-right: 1em;
}

iframe {
    height: 75%;
    margin-top: 5vh;
}

.link__btn {
    color: $white;
    background-color: $accent;
    padding: .5em 1em;
}

.btn__link {
    display: block;
    width: max-content;
    height: max-content;
}