html {
    scroll-behavior: smooth;
}

$underlineAniDuration: 15000ms;

.services__quote {

    &::before {
        opacity: 0;
        content: ' ';
        height: .25em;
                background-color: $accent;
        position: absolute;
        animation: underlineAni $underlineAniDuration ease-in-out 0s infinite;
    }
}

#underline1{
    &::before{
        width: 6.2em;
        top: 1.5em;
        left: 4em;
    }
}

#underline2{
    &::before{
        width: 7.2em;
        top: 3em;
        animation-delay: $underlineAniDuration / 2;
    }
}

#underline3{
    &::before{
        width: 8.5em;
        top: 3em;
        animation-delay: $underlineAniDuration / 4;
    }
}

#underline4{
    &::before{
        width: 6.9em;
        top: 3em;
        animation-delay: ($underlineAniDuration / 4) * 3;
    }

}

@keyframes underlineAni {
 
    0% {
        opacity: 1;
        transform: scaleX(0);
    }

    6% {
        transform: scaleX(1);
    }

    19% {
        transform: scaleX(1);
    }

    24% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(0);
    }
}


.btn__txt {
    transition: $transitionDuration;
    &:hover {
        color: $grey;
    }

    &:focus {
        color: $accent;
        background-color: $white;
        border: 2px solid $accent;
    }

    &:active {
        color: $black;
        background-color: $white;
        border: 2px solid $accent;
    }
}


.iconAni1 {
    height: 45px;
   // animation: iconAnimation 7s ease-in-out infinite;
}

.iconAni2 {
    height: 45px;
    animation: iconAnimation2 7s ease-in-out infinite;
}

@keyframes iconAnimation {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(1turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

@keyframes iconAnimation2 {
    0%{
    }

    50%{

    }

    62%{

    }
    74%{

    }

    86%{

    }

    98%{

    }


}