.card{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 1.5em 0 2em;
    width: 100%;
    /* outline: 1px solid red; */
    margin: 2vh 0;
    &__img{
        height: $imgBig;
        width: 100%;
        margin: 0 auto;
        object-fit: cover;
    }
    &__tittle{
        margin: 2em auto 1em;
    }
    &__txt{
        font-size: $f3;
        color: $black;
        margin: 0 1em;
    }

    &__btn {
        margin: 4vh auto 0;
        width: 75%;
        color: white;
    }
}