.card{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 3em 0 2em;
    width: 100%;
    &__img{
        border-radius: 50%;
        height: $imgSmall;
        width: 100%;
        margin: 0 auto;
    }
    &__tittle{
        margin: 2em auto 1em;
    }
    &__txt{
        font-size: $f3;
        color: $black;
        margin: 0 1em;
    }
}